
@model IEnumerable<User>
    
    
<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-md-6">
            <h2 class="text-primary"> User Details...</h2>
        </div>

        <div class="col-md-6 text-end">
            <a class="btn btn-lg btn-round btn-success" asp-controller="User" asp-action="Create">
                <i class="bi bi-person-plus-fill"></i>
                Add New User
            </a>
        </div>

        <partial name="_Notification"/>
    </div>



    <table class="table table-bordered table-stripped" style="width:100%;">

        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    User Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Phone
                </th>
                <th>
                    Address
                </th>
                <th class="text-center">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model)
            {
                <tr>
                    <td>
                        @row.Id
                    </td>
                    <td>
                        @row.Name
                    </td>
                    <td>
                        @row.Email
                    </td>
                    <td>
                        @row.Phone
                    </td>
                    <td>
                        @row.Address
                    </td>
                    <td class="text-center">
                        <a class="btn-info mx-2" asp-controller="User" asp-action="Update" asp-route-id=@row.Id>
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a class="btn-danger mx-2" asp-controller="User" asp-action="Delete" asp-route-id=@row.Id>
                            <i class="text-danger bi bi-trash3"></i>
                        </a>
                    </td>

                </tr>
                
            }
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-12 text-end">
            <a asp-controller="User" asp-action="Export" class="btn btn-link text-info text-bold"> Export Users </a>
        </div>
    </div>

</div>

